# CH3 - 監督式學習(進階) H.W

## Import package

In [1]:
# 載入常用套件
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Q1. & Q2. Naive Bayes
### with candy_data
+ 請使用candy-data.csv資料並以樸素貝葉斯 (Naive Bayes) 來做預測，預測winpercent的結果，若大於50則是1若小於等於50則為0。同樣以['chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus', 'sugarpercent', 'pricepercent']作為預測的分析項目。請以test_size=0.25, random_state=1作為條件。

### Step1.Load the data

In [2]:
candy = pd.read_csv(r'/Users/wen/Desktop/應用機器學習於Python/hw_data/hw2&hw3/candy-data.csv')
candy = candy.iloc[: ,1:13] # 將目標變數切割出來
# 模型參數 x 
candyx = candy.iloc[: , 0:11]
candyx # ML2 x
# 模型預測目標 y
candyy = candy.iloc[: , 11]
candyy # ML2 y

0     66.971725
1     67.602936
2     32.261086
3     46.116505
4     52.341465
        ...
80    45.466282
81    39.011898
82    44.375519
83    41.904308
84    49.524113
Name: winpercent, Length: 85, dtype: float64

### Step2. Sandard

In [3]:
# Z-score
from sklearn.preprocessing import StandardScaler
candy_scale = StandardScaler().fit_transform(candyx)
finalcandy = pd.DataFrame(data=candy_scale, columns=['chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard',
                     'bar', 'pluribus', 'sugarpercent', 'pricepercent'])
finalcandy

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent
0,1.138990,-0.899172,2.251983,-0.444053,-0.299572,3.338092,-0.462910,1.745743,-1.035940,0.901261,1.376914
1,1.138990,-0.899172,-0.444053,-0.444053,3.338092,-0.299572,-0.462910,1.745743,-1.035940,0.445922,0.148273
2,-0.877971,-0.899172,-0.444053,-0.444053,-0.299572,-0.299572,-0.462910,-0.572822,-1.035940,-1.663576,-1.242308
3,-0.877971,-0.899172,-0.444053,-0.444053,-0.299572,-0.299572,-0.462910,-0.572822,-1.035940,-1.663576,0.148273
4,-0.877971,1.112134,-0.444053,-0.444053,-0.299572,-0.299572,-0.462910,-0.572822,-1.035940,1.520236,0.148273
...,...,...,...,...,...,...,...,...,...,...,...
80,-0.877971,1.112134,-0.444053,-0.444053,-0.299572,-0.299572,-0.462910,-0.572822,-1.035940,-0.920093,-1.242308
81,-0.877971,1.112134,-0.444053,-0.444053,-0.299572,-0.299572,2.160247,-0.572822,-1.035940,-1.371875,-1.242308
82,-0.877971,1.112134,-0.444053,-0.444053,-0.299572,-0.299572,-0.462910,-0.572822,0.965307,-0.589262,-0.548778
83,-0.877971,-0.899172,2.251983,-0.444053,-0.299572,-0.299572,2.160247,-0.572822,-1.035940,-1.041043,-0.710719
84,1.138990,-0.899172,-0.444053,-0.444053,-0.299572,3.338092,-0.462910,-0.572822,0.965307,1.399287,1.334668

### Step3. Split to training group and testing group

In [4]:
# 切割資料
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(candyx, candyy, # x,y
                                                    test_size=0.25, 
                                                    random_state=1) # 設定seed，固定每次的訓練結果
# 檢查分割後的形狀
print('x_train:', x_train.shape)
print('y_train:', y_train.shape)
print('x_test:', x_test.shape)
print('y_test:', y_test.shape)

x_train: (63, 11)
y_train: (63,)
x_test: (22, 11)
y_test: (22,)

### Step4. Naive Bayes

In [5]:
from sklearn.naive_bayes import GaussianNB

NB = GaussianNB()
NB.fit(x_train.astype('int'), y_train.astype('int'))
pred1 = NB.predict(x_test)
pred1

# 印出預測結果
predNB = pd.DataFrame({'actual_y':y_test,'pred_y':pred1}) 
predNB.sort_index()

     actual_y  pred_y
2   32.261086      43
10  38.975037      67
19  34.158958      38
27  57.219250      45
35  55.064072      34
36  73.099556      60
38  64.353340      56
40  54.526451      50
44  22.445341      42
45  39.446800      42
48  37.722336      38
53  73.434990      69
56  65.716286      34
58  42.849144      28
63  45.995827      28
66  59.863998      42
67  52.825947      42
68  67.037628      42
69  34.578991      28
79  81.642914      59
80  45.466282      52
84  49.524113      66

### Step5. 衡量績效
​
+ 分類模型的衡量指標與迴歸模型不同，因為分類問題的猜測結果有四種情況：
    + 真實為1, 預測為1：True Positive, TP。
    + 真實為0, 預測為1：False Positive, FP，又稱「偽陽性」或統計學上的型一錯誤(Type I Error)。
    + 真實為1, 預測為0：False Negative, FN)，又稱「偽陰性」或統計學上的型二錯誤(Type II Error)。
    + 真實為0, 預測為0：True Negative, TN。
+ 上述四種情況通常會被畫成2x2的矩陣，又稱為「混淆矩陣(Confusion Matrix)」
+ 而分類指標的計算就圍繞著這個矩陣進行不同角度的計算(詳細請參考CH5)
+ 通常商業決策會將混淆矩陣衍生出的指標，搭配兩種猜錯情況所造成的「成本」一併考慮，因此沒有一定要使用哪種指標。

In [6]:
# Recode preML2
def dummy(predNB): # 自行定義一個分類的function
    predNB.loc[(predNB['actual_y'] > 0) & (predNB['actual_y'] <= 50), 'actual_y'] = 0
    predNB.loc[predNB['actual_y'] > 50, 'actual_y'] = 1
    return predNB
dummy(predNB)

def dummy(predNB): # 自行定義一個分類的function
    predNB.loc[(predNB['pred_y'] > 0) & (predNB['pred_y'] <= 50), 'pred_y'] = 0
    predNB.loc[predNB['pred_y'] > 50, 'pred_y'] = 1
    return predNB
dummy(predNB)

predNB.sort_index()

    actual_y  pred_y
2        0.0       0
10       0.0       1
19       0.0       0
27       1.0       0
35       1.0       0
36       1.0       1
38       1.0       1
40       1.0       0
44       0.0       0
45       0.0       0
48       0.0       0
53       1.0       1
56       1.0       0
58       0.0       0
63       0.0       0
66       1.0       0
67       1.0       0
68       1.0       0
69       0.0       0
79       1.0       1
80       0.0       1
84       0.0       1

In [7]:
# 載入分類模型的衡量指標套件
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, auc, roc_auc_score, precision_score, recall_score, f1_score
# 印出混淆矩陣
cm = confusion_matrix(predNB['actual_y'], predNB['pred_y'])
pd.DataFrame({'預測為0': cm[:,0], '預測為1': cm[:,1]}, index=['真實為0','真實為1'])

      預測為0  預測為1
真實為0     8     3
真實為1     7     4

In [8]:
# 印出常見指標的分數
fpr, tpr, thresholds = roc_curve(predNB['actual_y'], predNB['pred_y']) 
pd.DataFrame({'Accuracy': accuracy_score(predNB['actual_y'], predNB['pred_y']), 'AUC': auc(fpr, tpr), 'Precision': precision_score(predNB['actual_y'], predNB['pred_y']), 'Recall': recall_score(predNB['actual_y'], predNB['pred_y']), 'F1': f1_score(predNB['actual_y'], predNB['pred_y']), 'TPR': tpr[1], 'FNR': cm[1][0]/(cm[1][0]+cm[1][1])}, index=['value:'])

        Accuracy       AUC  Precision    Recall        F1       TPR       FNR
value:  0.545455  0.545455   0.571429  0.363636  0.444444  0.363636  0.636364

## Q3. & Q4. SVM
### with housing.csv
+ 請使用housing.csv資料並以支援向量機 (Support Vector Machine, SVM)來做預測。以['housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income']來預測['median_house_value']，並記得注意將空值除去。本題請設test_size=0.15, random_state=1作為條件。

### Step1. Load the data

In [9]:
housing = pd.read_csv(r'/Users/wen/Desktop/應用機器學習於Python/hw_data/hw2&hw3/housing.csv')
housing = housing.iloc[: ,2:9]
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   housing_median_age  20640 non-null  float64
 1   total_rooms         20640 non-null  float64
 2   total_bedrooms      20433 non-null  float64
 3   population          20640 non-null  float64
 4   households          20640 non-null  float64
 5   median_income       20640 non-null  float64
 6   median_house_value  20640 non-null  float64
dtypes: float64(7)
memory usage: 1.1 MB

### Step2. Deal with missing data

In [10]:
# 偵測 NA
housing.isnull().any() # there is NA in variable : total_bedrooms

housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
dtype: bool

In [11]:
# drop the case
cleanhs = housing.dropna()
# check if NA had droped
cleanhs.isnull().any() # housing without NA

housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
median_house_value    False
dtype: bool

### Step3. Split the data

In [12]:
# 載入資料切割套件
from sklearn.model_selection import train_test_split
# 將目標參數切割出來
housingx = cleanhs.iloc[:,0:6]
housingy = cleanhs.iloc[:,6]

In [13]:
# 進行切割
x_train, x_test, y_train, y_test = train_test_split(housingx, housingy, # x,y
                                                    test_size=0.15, 
                                                    random_state=1) # 設定seed，固定每次的訓練結果

In [14]:
# 檢查分割後的形狀
print('x_train:', x_train.shape)
print('y_train:', y_train.shape)
print('x_test:', x_test.shape)
print('y_test:', y_test.shape)

x_train: (17368, 6)
y_train: (17368,)
x_test: (3065, 6)
y_test: (3065,)

### Step4. SVM

In [28]:
from sklearn.svm import SVR
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [ ]:
SVM = SVR(kernel='linear', C =100) # 可換核函數
SVM.fit(x_train, y_train)
pred2 = SVM.predict(x_test)

pd.DataFrame({'R-square': r2_score(y_test, pred2), 'MAE': mean_absolute_error(y_test, pred2), 'MSE': mean_squared_error(y_test, pred2), 'RMSE': mean_squared_error(y_test, pred2, squared=False)}, index=['value'])

### Step5. Precision index

In [ ]:
# 印出常見指標的分數
fpr, tpr, thresholds = roc_curve(y_test, pred2) 
pd.DataFrame({'Accuracy': accuracy_score(y_test, pred2), 'AUC': auc(fpr, tpr), 'Precision': precision_score(y_test, pred2), 'Recall': recall_score(y_test, pred2), 'F1': f1_score(y_test, pred2)}, index=['value'])

In [19]:
SVM2 = SVR(kernel='sigmoid', gamma = 'auto', C =100) # 可換核函數
SVM2.fit(x_train, y_train)
pred3 = SVM.predict(x_test)

pd.DataFrame({'R-square': r2_score(y_test, pred3), 'MAE': mean_absolute_error(y_test, pred3), 'MSE': mean_squared_error(y_test, pred3), 'RMSE': mean_squared_error(y_test, pred3, squared=False)}, index=['value'])

       R-square           MAE           MSE          RMSE
value  0.565906  54844.699225  5.928514e+09  76996.842568

### with candy_data

### Step1.Load the data

In [15]:
candy = pd.read_csv(r'/Users/wen/Desktop/應用機器學習於Python/hw_data/hw2&hw3/candy-data.csv')
candy = candy.iloc[: ,1:13] # 將目標變數切割出來
# 模型參數 x 
candyx = candy.iloc[: , 0:11]
candyx # ML2 x
# 模型預測目標 y
candyy = candy.iloc[: , 11]
candyy # ML2 y

0     66.971725
1     67.602936
2     32.261086
3     46.116505
4     52.341465
        ...
80    45.466282
81    39.011898
82    44.375519
83    41.904308
84    49.524113
Name: winpercent, Length: 85, dtype: float64

### Step2. Standard

In [16]:
# Z-score
from sklearn.preprocessing import StandardScaler
candy_scale = StandardScaler().fit_transform(candyx)
finalcandy = pd.DataFrame(data=candy_scale, columns=['chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard',
                     'bar', 'pluribus', 'sugarpercent', 'pricepercent'])
finalcandy

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent
0,1.138990,-0.899172,2.251983,-0.444053,-0.299572,3.338092,-0.462910,1.745743,-1.035940,0.901261,1.376914
1,1.138990,-0.899172,-0.444053,-0.444053,3.338092,-0.299572,-0.462910,1.745743,-1.035940,0.445922,0.148273
2,-0.877971,-0.899172,-0.444053,-0.444053,-0.299572,-0.299572,-0.462910,-0.572822,-1.035940,-1.663576,-1.242308
3,-0.877971,-0.899172,-0.444053,-0.444053,-0.299572,-0.299572,-0.462910,-0.572822,-1.035940,-1.663576,0.148273
4,-0.877971,1.112134,-0.444053,-0.444053,-0.299572,-0.299572,-0.462910,-0.572822,-1.035940,1.520236,0.148273
...,...,...,...,...,...,...,...,...,...,...,...
80,-0.877971,1.112134,-0.444053,-0.444053,-0.299572,-0.299572,-0.462910,-0.572822,-1.035940,-0.920093,-1.242308
81,-0.877971,1.112134,-0.444053,-0.444053,-0.299572,-0.299572,2.160247,-0.572822,-1.035940,-1.371875,-1.242308
82,-0.877971,1.112134,-0.444053,-0.444053,-0.299572,-0.299572,-0.462910,-0.572822,0.965307,-0.589262,-0.548778
83,-0.877971,-0.899172,2.251983,-0.444053,-0.299572,-0.299572,2.160247,-0.572822,-1.035940,-1.041043,-0.710719
84,1.138990,-0.899172,-0.444053,-0.444053,-0.299572,3.338092,-0.462910,-0.572822,0.965307,1.399287,1.334668

### Step3. Split the data into training group and testing group

In [17]:
# 切割資料
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(candyx, candyy, # x,y
                                                    test_size=0.25, 
                                                    random_state=1) # 設定seed，固定每次的訓練結果
# 檢查分割後的形狀
print('x_train:', x_train.shape)
print('y_train:', y_train.shape)
print('x_test:', x_test.shape)
print('y_test:', y_test.shape)

x_train: (63, 11)
y_train: (63,)
x_test: (22, 11)
y_test: (22,)

### Step4. SVM

In [27]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, auc, roc_auc_score, precision_score, recall_score, f1_score

In [19]:
SVC1 = SVC(kernel='linear', random_state = 1)
SVC1.fit(x_train.astype('int'), y_train.astype('int'))
pred3 = SVC1.predict(x_test)
# 印出預測結果
predSVM = pd.DataFrame({'actual_y':y_test,'pred_y':pred3}) 
predSVM.sort_index()

     actual_y  pred_y
2   32.261086      46
10  38.975037      56
19  34.158958      55
27  57.219250      55
35  55.064072      55
36  73.099556      56
38  64.353340      66
40  54.526451      59
44  22.445341      55
45  39.446800      55
48  37.722336      55
53  73.434990      71
56  65.716286      55
58  42.849144      55
63  45.995827      55
66  59.863998      55
67  52.825947      55
68  67.037628      55
69  34.578991      55
79  81.642914      66
80  45.466282      52
84  49.524113      66

In [20]:
# Recode pre3
def dummy(predSVM): # 自行定義一個分類的function
    predSVM.loc[(predSVM['actual_y'] > 0) & (predSVM['actual_y'] <= 50), 'actual_y'] = 0
    predSVM.loc[predSVM['actual_y'] > 50, 'actual_y'] = 1
    return predSVM
dummy(predSVM)

def dummy(predSVM): # 自行定義一個分類的function
    predSVM.loc[(predSVM['pred_y'] > 0) & (predSVM['pred_y'] <= 50), 'pred_y'] = 0
    predSVM.loc[predSVM['pred_y'] > 50, 'pred_y'] = 1
    return predSVM
dummy(predSVM)

predSVM.sort_index()

    actual_y  pred_y
2        0.0       0
10       0.0       1
19       0.0       1
27       1.0       1
35       1.0       1
36       1.0       1
38       1.0       1
40       1.0       1
44       0.0       1
45       0.0       1
48       0.0       1
53       1.0       1
56       1.0       1
58       0.0       1
63       0.0       1
66       1.0       1
67       1.0       1
68       1.0       1
69       0.0       1
79       1.0       1
80       0.0       1
84       0.0       1

In [21]:
fpr, tpr, thresholds = roc_curve(predSVM['actual_y'], predSVM['pred_y']) 
pd.DataFrame({'Accuracy': accuracy_score(predSVM['actual_y'], predSVM['pred_y']), 'AUC': auc(fpr, tpr), 'Precision': precision_score(predSVM['actual_y'], predSVM['pred_y']), 'Recall': recall_score(predSVM['actual_y'], predSVM['pred_y']), 'F1': f1_score(predSVM['actual_y'], predSVM['pred_y'])}, index=['value'])

       Accuracy       AUC  Precision  Recall      F1
value  0.545455  0.545455    0.52381     1.0  0.6875

In [22]:
SVC2 = SVC(kernel='rbf', random_state = 1)
SVC2.fit(x_train.astype('int'), y_train.astype('int'))
pred4 = SVC2.predict(x_test)
# 印出預測結果
predSVM2 = pd.DataFrame({'actual_y':y_test,'pred_y':pred4}) 
predSVM2.sort_index()

     actual_y  pred_y
2   32.261086      46
10  38.975037      46
19  34.158958      46
27  57.219250      55
35  55.064072      46
36  73.099556      46
38  64.353340      66
40  54.526451      46
44  22.445341      46
45  39.446800      46
48  37.722336      46
53  73.434990      46
56  65.716286      46
58  42.849144      46
63  45.995827      46
66  59.863998      46
67  52.825947      46
68  67.037628      46
69  34.578991      46
79  81.642914      66
80  45.466282      46
84  49.524113      66

In [23]:
# Recode pre4
def dummy(predSVM2): # 自行定義一個分類的function
    predSVM2.loc[(predSVM2['actual_y'] > 0) & (predSVM2['actual_y'] <= 50), 'actual_y'] = 0
    predSVM2.loc[predSVM2['actual_y'] > 50, 'actual_y'] = 1
    return predSVM2
dummy(predSVM2)

def dummy(predSVM2): # 自行定義一個分類的function
    predSVM2.loc[(predSVM2['pred_y'] > 0) & (predSVM2['pred_y'] <= 50), 'pred_y'] = 0
    predSVM2.loc[predSVM2['pred_y'] > 50, 'pred_y'] = 1
    return predSVM2
dummy(predSVM2)

predSVM2.sort_index()

    actual_y  pred_y
2        0.0       0
10       0.0       0
19       0.0       0
27       1.0       1
35       1.0       0
36       1.0       0
38       1.0       1
40       1.0       0
44       0.0       0
45       0.0       0
48       0.0       0
53       1.0       0
56       1.0       0
58       0.0       0
63       0.0       0
66       1.0       0
67       1.0       0
68       1.0       0
69       0.0       0
79       1.0       1
80       0.0       0
84       0.0       1

In [24]:
fpr, tpr, thresholds = roc_curve(predSVM2['actual_y'], predSVM2['pred_y']) 
pd.DataFrame({'Accuracy': accuracy_score(predSVM2['actual_y'], predSVM2['pred_y']), 'AUC': auc(fpr, tpr), 'Precision': precision_score(predSVM2['actual_y'], predSVM2['pred_y']), 'Recall': recall_score(predSVM2['actual_y'], predSVM2['pred_y']), 'F1': f1_score(predSVM2['actual_y'], predSVM2['pred_y'])}, index=['value'])

       Accuracy       AUC  Precision    Recall   F1
value  0.590909  0.590909       0.75  0.272727  0.4

## Q7. - Q.10 Random Forest

### Random Forest with housing.csv

In [25]:
# 進行切割
x_train, x_test, y_train, y_test = train_test_split(housingx, housingy, # x,y
                                                    test_size=0.15, 
                                                    random_state=1) # 設定seed，固定每次的訓練結果

### 條件與目標仍與前述相同，random_state均設為1，請回答下列題目。在n_estimators=500, random_state=1時，請問R-square是多少呢？RMSE是多少呢？

In [29]:
from sklearn.ensemble import RandomForestRegressor

RF1 = RandomForestRegressor(n_estimators=500, random_state=1) # 決定要幾棵樹
RF1.fit(x_train, y_train)
preRF1 = RF1.predict(x_test)

pd.DataFrame({'R-square': r2_score(y_test, preRF1), 'MAE': mean_absolute_error(y_test, preRF1), 'MSE': mean_squared_error(y_test, preRF1), 'RMSE': mean_squared_error(y_test, preRF1, squared=False)}, index=['value'])

       R-square           MAE           MSE          RMSE
value  0.669642  47952.485444  4.511769e+09  67169.702289

### Random Forest with candy_data

In [30]:
candyy = pd.DataFrame(candyy)
candyy

    winpercent
0    66.971725
1    67.602936
2    32.261086
3    46.116505
4    52.341465
..         ...
80   45.466282
81   39.011898
82   44.375519
83   41.904308
84   49.524113

[85 rows x 1 columns]

In [31]:
def dummy(candyy): # 自行定義一個分類的function
    candyy.loc[(candyy['winpercent'] > 0) & (candyy['winpercent'] <= 50)] = 0
    candyy.loc[candyy['winpercent'] > 50] = 1
    return candyy
dummy(candyy)

    winpercent
0          1.0
1          1.0
2          0.0
3          0.0
4          1.0
..         ...
80         0.0
81         0.0
82         0.0
83         0.0
84         0.0

[85 rows x 1 columns]

In [32]:
# 切割資料
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(candyx, candyy, # x,y
                                                    test_size=0.25, 
                                                    random_state=1) # 設定seed，固定每次的訓練結果
# 檢查分割後的形狀
print('x_train:', x_train.shape)
print('y_train:', y_train.shape)
print('x_test:', x_test.shape)
print('y_test:', y_test.shape)

x_train: (63, 11)
y_train: (63, 1)
x_test: (22, 11)
y_test: (22, 1)

In [33]:
from sklearn.ensemble import RandomForestClassifier

RF2 = RandomForestClassifier()
RF2.fit(x_train, y_train.values.ravel())
preRF2 = RF2.predict(x_test)

In [34]:
cm = confusion_matrix(y_test, preRF2)         # 混淆矩陣
fpr, tpr, thresholds = roc_curve(y_test, preRF2)    
pd.DataFrame({'Accuracy': accuracy_score(y_test, preRF2), 'AUC': auc(fpr, tpr), 'Precision': precision_score(y_test, preRF2), 'Recall': recall_score(y_test, preRF2), 'F1': f1_score(y_test, preRF2), 'TPR': tpr[1], 'FNR': cm[1][0]/(cm[1][0]+cm[1][1])}, index=['values:'])

         Accuracy       AUC  Precision    Recall   F1       TPR       FNR
values:  0.636364  0.636364   0.666667  0.545455  0.6  0.545455  0.454545

## Q11. - Q19. eXtreme Gradient Boosting

### housing.csv with XGB

In [35]:
housing = pd.read_csv(r'/Users/wen/Desktop/應用機器學習於Python/hw_data/hw2&hw3/housing.csv')
housing = housing.iloc[: ,2:9]
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   housing_median_age  20640 non-null  float64
 1   total_rooms         20640 non-null  float64
 2   total_bedrooms      20433 non-null  float64
 3   population          20640 non-null  float64
 4   households          20640 non-null  float64
 5   median_income       20640 non-null  float64
 6   median_house_value  20640 non-null  float64
dtypes: float64(7)
memory usage: 1.1 MB

In [36]:
# 偵測 NA
housing.isnull().any() # there is NA in variable : total_bedrooms
# drop the case
cleanhs = housing.dropna()
# check if NA had droped
cleanhs.isnull().any() # housing without NA

housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
median_house_value    False
dtype: bool

In [37]:
# 載入資料切割套件
from sklearn.model_selection import train_test_split
# 將目標參數切割出來
housingx = cleanhs.iloc[:,0:6]
housingy = cleanhs.iloc[:,6]

In [38]:
# 進行切割
x_train, x_test, y_train, y_test = train_test_split(housingx, housingy, # x,y
                                                    test_size=0.15, 
                                                    random_state=1) # 設定seed，固定每次的訓練結果

In [43]:
import xgboost as xgb
XGB1 = xgb.XGBRegressor(objective="reg:squarederror", random_state=1)
XGB1.fit(x_train, y_train)
preXGB = XGB1.predict(x_test)
pd.DataFrame({'R-square': r2_score(y_test, preXGB), 'MAE': mean_absolute_error(y_test, preXGB), 'MSE': mean_squared_error(y_test, preXGB), 'RMSE': mean_squared_error(y_test, preXGB, squared=False)}, index=['value'])

       R-square          MAE           MSE         RMSE
value  0.668333  48587.93764  4.529653e+09  67302.69733

In [53]:
from sklearn.model_selection import cross_val_score
XGB2 = xgb.XGBRegressor(objective="reg:squarederror", random_state=1)
scores = cross_val_score(XGB2, x_train, y_train, scoring="neg_mean_squared_error", cv=10)
print("Each MSE of the cv split is: ", -scores) # sklearn.model_selection套件回傳的MSE為負數，轉正後即為正確的值
print('Average MSE from 10 cv splits is: ', round(-scores.mean(), 10))

Each MSE of the cv split is:  [4.57549664e+09 4.66123767e+09 4.41422892e+09 4.55751749e+09
 4.56604677e+09 4.35662269e+09 4.47928932e+09 4.74724734e+09
 4.54008723e+09 4.64146149e+09]
Average MSE from 10 cv splits is:  4553923555.917298

### candy_data with XGB

In [57]:
candy = pd.read_csv(r'/Users/wen/Desktop/應用機器學習於Python/hw_data/hw2&hw3/candy-data.csv')
candy = candy.iloc[: ,1:13] # 將目標變數切割出來
# 模型參數 x 
candyx = candy.iloc[: , 0:11]
candyx # ML2 x
# 模型預測目標 y
candyy = candy.iloc[: , 11]
candyy # ML2 y

0     66.971725
1     67.602936
2     32.261086
3     46.116505
4     52.341465
        ...
80    45.466282
81    39.011898
82    44.375519
83    41.904308
84    49.524113
Name: winpercent, Length: 85, dtype: float64

In [58]:
candyy = pd.DataFrame(candyy)
candyy

    winpercent
0    66.971725
1    67.602936
2    32.261086
3    46.116505
4    52.341465
..         ...
80   45.466282
81   39.011898
82   44.375519
83   41.904308
84   49.524113

[85 rows x 1 columns]

In [59]:
def dummy(candyy): # 自行定義一個分類的function
    candyy.loc[(candyy['winpercent'] > 0) & (candyy['winpercent'] <= 50)] = 0
    candyy.loc[candyy['winpercent'] > 50] = 1
    return candyy
dummy(candyy)

    winpercent
0          1.0
1          1.0
2          0.0
3          0.0
4          1.0
..         ...
80         0.0
81         0.0
82         0.0
83         0.0
84         0.0

[85 rows x 1 columns]

In [67]:
# 切割資料
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(candyx, candyy, # x,y
                                                    test_size=0.25, 
                                                    random_state=1) # 設定seed，固定每次的訓練結果
# 檢查分割後的形狀
print('x_train:', x_train.shape)
print('y_train:', y_train.shape)
print('x_test:', x_test.shape)
print('y_test:', y_test.shape)

x_train: (63, 11)
y_train: (63, 1)
x_test: (22, 11)
y_test: (22, 1)

In [68]:
XGB2 = xgb.XGBClassifier(objective="binary:logistic") # Binary classification
XGB2.fit(x_train, y_train.values.ravel())
preXGB2 = XGB2.predict(x_test)

fpr, tpr, thresholds = roc_curve(y_test, preXGB2)    
pd.DataFrame({'Accuracy': accuracy_score(y_test, preXGB2), 'AUC': auc(fpr, tpr), 'Precision': precision_score(y_test, preXGB2), 'Recall': recall_score(y_test, preXGB2), 'F1': f1_score(y_test, preXGB2), 'TPR': tpr[1], 'FNR': cm[1][0]/(cm[1][0]+cm[1][1])}, index=['values:'])

         Accuracy       AUC  Precision    Recall   F1       TPR       FNR
values:  0.636364  0.636364   0.666667  0.545455  0.6  0.545455  0.454545

In [69]:
print('未做交叉驗證的準確率(參考基準): ', round(XGB2.score(x_train, y_train.values.ravel()), 4))   
# 交叉驗證  
scores = cross_val_score(XGB2, x_train, y_train.values.ravel(), cv=10, scoring='accuracy') # 使用準確率來做績效衡量
print('10-folds 驗證的平均準確率: ', round(scores.mean(), 4))

未做交叉驗證的準確率(參考基準):  0.9365
10-folds 驗證的平均準確率:  0.7357